#op{
    background-image: url('/00000000/image/html1.jpg');
    background-repeat: none;
    background-size: contain;
    color: wheat;
}
#i1{
    background:grey;
}
.cl2{
    background-color: yellow ;
}
li{
    color: chartreuse;
}
.cl1{
    background-color: red ;
}


h1{
    margin: 15px;
    outline: 5px dashed red;
    border: groove green;
    border-width: 2px 4px 10px 3px;
    padding:10px; 
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    padding: 0px;
}
#htmlimg{
    border-radius: 100px;
}

#box{
    width:200px;
    height:150px;
    background-color: brown;
    border-radius: 100%;
    background-image: url('/00000000/image/html1.jpg');
}
#b2{
    width:200px;
    height:150px;
    background-color: brown;
    border-radius: 10px 50px;
    transition: all 10s;
    box-shadow: 10px 5px 10px yellow ;
    translate: 15px 10px;      /* change the position in x and y axes */

    /* transition-delay: 1s; */  /*transition will be on the box itself,take 1s delay when we hover & also after we leave hovering */

    /* transform: rotate(60deg); */   /* on the box itself, the box is rotated already */


}
#b2:hover{
    /* width: 100px;
    height: 50px; */

    /* transition: all 10s; */
   /* transform: rotate(180deg); /*box'll rotate when hover*/
    /*transition-delay: 1s;  /*transition will take 1s delay only when we hover */
    transform:scalex(2);    /* means 2 times to its original size by x axis like width*/
}

button{
    margin: 5px;
    font-size: 18px;
    color: black;
    background-color: blueviolet;
    border: none;
    padding: 8px 12px;
    border-radius: 6.5px;
}

button:hover{
    background-color: #BF40BF;
    box-shadow: 5px 5px 10px grey;    /* shadow appears like the font color by default */
}

.f{
    width:50%;
    height:200px;
    background-color: black;
    position: relative;
    left:50px;

}
.s{
    width:30px;
    height: 20px;
    background-color: red;
    position: absolute;
    top: 90px;
    right:50%;
}
.container{
    margin: 0 auto;
    /* centers this container w.r.t. the current web page */
    height: 50px;
    width:200px;
    background-color: grey;
    display: flex;
    /* flex-wrap: wrap;           
    align-content: flex-start;        /* doesn't work w8 flexwrap */
   
    align-items: center;              /* vertically adjust positions of flex items */
    justify-content:space-between;     /* horizontally adjust positions of flex items */
    flex-direction:row-reverse;
    flex-direction:column;
/* two same properties but will follow last written */
}

#loader{
    width:180px;
    height:180px;
    border-radius:100%;
    border:10px solid #e9e3e3;
    border-top:10px solid rgb(82, 221, 186);
    
    /* animation-name:loader;
    animation-duration: 3s;
    animation-timing-function: ease-in;     
     /* decides that chale kaise like rukruk k ya simple linearly or ease-in out */
    
     /* animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction:normal;  */

     animation: loader 2s linear 3s infinite normal; 

}
 @keyframes loader{                     /* @keyframes _____(any name){from{} to{} }   for animation  */
    from{
        transform:rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
} 
nav{
    background-color:blue;
    height:100px;
    display:flex;
    justify-content: center;

}

.navbar{
    margin:0;
    background-color: #ffc803;
    height:100px;
    display:flex;
    
}
.nav-logo{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZ746_aBKBIKYjum1q5cb4td50VniHkVsXJw&s');
    width:80px;
    height:70px;
    background-size: cover;
    background-repeat: no-repeat;
    margin:8px;
    
}
img:hover,.nav-logo:hover{
    border: 2px solid white;
    border-radius:100%;

}
table{
    /* in index.html page */
    border-collapse: collapse;
}
#animate{
    border-radius: 0px 100px 100px 0px;
    animation:animate 2s ease-in 2s infinite alternate;
}
@keyframes animate {
    from{
        transform:translatex(0px);}
    to{
        transform:translatex(90vw);
    }
}

#sun{
    width:50px;
    height:50px;
    border-radius:50%;
    position:absolute;
    top:10px;
    left:33%;
    animation:sunrise 4s ease-in 0s 2 normal;
}
@keyframes sunrise {
    from{
        transform:translatey(0px);}
    to{
        transform:translatey(40vh);
    }
}
/* translate() changes positions from its original */


@keyframes ch{
    from{
        transform:rotate(0deg);
    }
    to
    {
        transform: rotate(360deg);
    }
}

#ui{
    width:150px;
    height:400px;
    background-color: black;
    display:flex;
    flex-wrap: wrap;
    align-content: space-between;
    
}








