body{
    font-size:20px;
    background: linear-gradient(to top, rgb(231, 60, 60),white);
}

p{
    font-family: "Dancing Script";
}

#sign{
    cursor:pointer;
    width:120px;
    height:40px;
    border-radius:5px;
    margin:20px;
}
.sign-box{
    z-index:1;
    position:absolute;
    left: 30%;
    top: 30%;
    margin:10px;
    padding:10px;
    width: 600px;
    height:250px;
    background: linear-gradient(to top, white, grey);
    box-shadow: 10px 15px 10px;     /* box-shadow:h v blurpx color */

}
.closebtn{
    position:absolute;
    cursor:pointer;
    left:70%;
}

.hide{
    display:none;
}

h1{
    position:absolute;
    top: 5%;
    padding-bottom: 20px;  /* in absolute position, no element cares bcz it does
    not exist and there will be no effects on them if any changes are apllied to the abs. one  */
}

.bluring{
    width:100%;
    height:100%;
    position: absolute;
    top: 0%;
    backdrop-filter: blur(2px);

}
