body{
    background: linear-gradient(to top,green,white,orange);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    margin: 0 auto;
    width: 30%;
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: #F6F1DE;
}
.container p{
    text-align: center;
}